@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  font-family: "Merriweather", serif;
}

/* Banner Section */

.container {
  max-width: 80%;
  margin: auto;
}

.banner-section {
  background-color: hsla(0, 0%, 0%, 0.918);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.banner-text {
  margin-top: 50px;
  margin-left: 50px;
}

.banner-text h1 {
  font-size: 30px;
}

.banner-text small {
  font-size: 10px;
  margin-bottom: 30px;
}

.banner-text a {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.banner-image {
  margin-left: 80px;
}

/* Blog Section */

.blog-section {
  margin-top: 20px;
  display: flex;
  /* display: grid;
  grid-template-rows: repeat(1fr, 3fr); */
}

.blog-sidebar {
  background-color: hsla(0, 0%, 0%, 0.918);
  border-radius: 10px;
  max-height: 180px;
}

.blog-sidebar-items {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.blog-sidebar a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.918);
  padding: 10px;
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}

#blog-sidebar-items-selected {
  background-color: red;
  color: white;
}

.blog-matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  max-width: 100%;
  grid-column-gap: 10px;
  margin-left: 20px;
}

.blog-match {
  box-shadow: 5px 5px 5px 5px rgb(236, 241, 241);
  margin-bottom: 10px;
  transition: 0.2s all ease-in-out;
}

.blog-match:hover {
  transform: scale(1.25, 1.25);
  box-shadow: none;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid wheat;
  /* box-shadow: 5px 5px 5px 5px rgb(236, 241, 241);
  margin-bottom: 10px; */
}

.blog-match-img {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  align-items: center;
  width: 242px;
}

.blog-match-text {
  text-align: center;
}

/* Footer */

.footer {
  background-color: hsla(0, 0%, 0%, 0.918);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.line {
  width: 80%;
}

.footer-items small {
  padding: 10px;
}

/* Media Query */
